<section id="<%= dom_id(column) %>"
  class="cards cards--doing is-collapsed" style="--card-color: <%= column.color %> %>"
  data-collapsible-columns-target="column"
  data-drag-and-drop-target="container"
  data-drag-and-drop-url="<%= columns_card_drops_column_path("__id__", column_id: column.id) %>"
>
  <%= cards_expander column.name, column.cards.active.count %>

  <%= turbo_frame_tag dom_id(column, :cards), src: collection_column_path(column.collection, column) %>
</section>
