  <%= turbo_frame_tag :card_columns do %>
    <div class="card-columns" data-controller="collapsible-columns" data-collapsible-columns-collapsed-class="is-collapsed">

      <div class="card-columns__left">
        <%= render "collections/show/not_now", collection: collection %>
      </div>

      <%= render "collections/show/stream", page: page, collection: collection %>

      <div class="card-columns__right">
        <%= render partial: "collections/show/column", collection: collection.columns, cached: true %>
        <%= render "collections/show/closed", collection: collection %>

        <button class="btn btn--circle txt-x-small borderless">
          <%= icon_tag "menu-dots-horizontal" %>
          <span class="for-screen-reader">Add a new column, etc.</span>
        </button>
      </div>
    </div>
  <% end %>
