<% if filter.creators.any? %>
  <div class="quick-filter position-relative" data-controller="dialog" 
        data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn input input--select flex-inline txt-small" data-action="click->dialog#open:stop">
      <span class="overflow-ellipsis">
        <% if filter.creators.any? %>
          <%= "Added by #{filter.creators.map(&:name).to_sentence}" %>
        <% else %>
          Added by…
        <% end %>
      </span>
    </button>

    <dialog class="events__popup popup panel flex-column align-start gap-half fill-white shadow" 
          data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
      <strong class="popup__title margin-block-start-half pad-inline-half">Added by…</strong>
      <%= form_with url: bubbles_path, method: :get, class: "flex flex-column full-width popup__list", 
            data: { controller: "form" } do |form| %>
        <% filter.as_params.except(:creator_ids).each do |key, value| %>
          <%= filter_hidden_field_tag key, value %>
        <% end %>
        
        <%= link_to bubbles_path(filter.as_params.except(:creator_ids)), class: "btn popup__item" do %>
          <span class="overflow-ellipsis">Clear all</span>
        <% end %>

        <div class="btn popup__item">
          <%= form.check_box "creator_ids[]", { 
            checked: filter.creators.include?(Current.user),
            data: { action: "change->form#submit" },
            include_hidden: false,
          }, Current.user.id %>

          <%= form.label "creator_ids[]", "Me", for: dom_id(Current.user, :creator_filter), class: "overflow-ellipsis" %>
          <%= image_tag "check.svg", aria: { hidden: true }, size: 18, class: "checked flex-item-justify-end" %>
        </div>
        
        <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
          <div class="btn popup__item">
            <%= form.check_box "creator_ids[]", { 
              checked: filter.creators.include?(user),
              data: { action: "change->form#submit" },
              include_hidden: false,
            }, user.id %>

            <%= form.label "creator_ids[]", user.name, for: dom_id(user, :creator_filter), class: "overflow-ellipsis" %>
            <%= image_tag "check.svg", aria: { hidden: true }, size: 18, class: "checked flex-item-justify-end" %>
          </div>
        <% end %>
      <% end %>
    </dialog>
  </div>
<% end %> 