<% cache user_filtering do %>
  <%= tag.aside id: "filter-settings",
        class: class_names("filters flex align-center gap-half justify-center center margin-block-end", { "filters--expanded": user_filtering.expanded? }),
        data: { controller: "toggle-class filter-settings", toggle_class_toggle_class: "filters--expanded", filter_settings_filters_set_class: "filters--has-filters-set" } do %>
    <div class="flex-inline center align-center gap-half" data-controller="toggle-enable">
      <%= form_with url: cards_path, method: :get, class: "flex-inline center align-center gap-half",
            data: { controller: "form", turbo_frame: "card_columns", turbo_action: "advance" } do |form| %>
        <%= render "filters/settings/terms", user_filtering: user_filtering, form: form %>
        <%= render "filters/settings/controls", user_filtering: user_filtering, form: form %>

        <%= render "filters/settings/toggle", user_filtering: user_filtering %>
        <%= render "filters/settings/manage", user_filtering: user_filtering %>
      <% end %>
    </div>
  <% end %>
<% end %>
