<div class="filters flex-inline align-center gap-half">
  <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
    <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Filter</span>
  </button>

  <div class="flex-inline center align-center gap-half">
    <%= render "filters/indexed_by", filter: filter %>
    <%= render "filters/buckets", filter: filter %>
    <%= render "filters/tags", filter: filter %>
    <%= render "filters/assignees", filter: filter %>
    <%= render "filters/creators", filter: filter %>
    <%= render "filters/stages", filter: filter %>

    <% filter.terms.each do |term| %>
      <%= filter_chip_tag %Q("#{term}"), filter.as_params_without(:terms, term) %>
    <% end %>

    <% if any_filters?(filter) %>
      <%= link_to bubbles_path, class: "btn btn--remove txt-small" do %>
        <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Clear all</span>
      <% end %>
    <% end %>
  </div>
</div>
